* {margin: 0;
padding: 0;
box-sizing: border-box;
}

//justify-content mexe na largura. O align mexe na altura

header {

  background-color: #ffffff;
display: flex; //ativa as caixas flexiveis

justify-content: flex-start; //é o padrão. os itens são postos no começo do eixo principal.
justify-content: flex-end; //os itens são postos no final do eixo principal
justify-content: center; // os itens são postos no meio do eixo principal.
justify-content: space-around; // o primeiro espaço vazio e o ultimo são iguais
justify-content: space-evenly; // o mesmo espaçamento entre os itens
justify-content: space-between; //o primeiro item fica no começo do eixo e o ultimo fica no final
height: 10vh;
align-items: flex-start; //os itens são postos no começo do eixo Y (vertical)
align-items: flex-end; // os itens são postos no final no eixo Y (vertical)
align-items: center; // os itens são postos no meio do eixo Y (vertical)
}

.caixaLogo {
margin: 30px;
display: flex;
justify-content: space-between;
align-items: center;
width: 12%;
}

// colocar borda pra ver como ta.
nav {
    
    display: flex;
    justify-content: space-evenly;
    width: 40%; // se eu quero espaçar eu preciso de um tamanho.
     align-items: center;
}


a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #4B5563;
    
}


.BotaoVerdeheader {
    background-color: #21C05C;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 18px;
border-radius: 1.5px;
}

/////////////////////////////////////////////////////////////

.primeirasection {
    background-color: #21C05C;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

h2 {
    font-size: 3.75rem;
    font-weight: 700;
    width: 55%;
}

p{
font-size: 1.25rem;
font-weight: 400;

}

section {

width: 60vw;
height: 40vh;
display: flex;
flex-direction: column;
justify-content: space-around;
}

button {
cursor: pointer;
padding: 20px 40px;

img {width: 30%;
height: 5vh;
}

.botaoverde {
    background-color: #16A34A;
}

}


}

////////////////////////////////////////////////////////////

.dadosNumericos {
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 20vh;

  div {
    
    width: 15%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

h2{
  color: #16A34A;
  font-size: 3rem;
  font-weight: 700;
  
}

p {
    font-weight: 400;
    font-size: 1rem;
}
}
}

//////////////////////////////////////////////////////


.comofunciona {
  
    height: 25vh;
   padding-left:  40px;
   padding-top: 40px;
       
 h2 {
 color: #1F2937;
 font-weight: 800;
  font-size: 2.6rem; 
  padding-bottom: 30px;
    }

 p{
color: #1F2937;
font-size: 1.2rem;
margin-top: 35px;
}

}

////////////////////////////////////////////

.produtosDisponiveis {
background-color: rgb(149, 216, 149);
display: flex;
justify-content: space-around;
align-items: center;
height: 150vh;

article {
border: solid #16A34A;
width: 10%;
height: 50vh;
display: flex;
flex-direction: column; 
justify-content: space-between;
align-items: center;
border-radius: 15px;

img{
width: 100%;
height: 30vh;
}

button {
width: 50%;
height: 3vh;
cursor: pointer;
 margin-bottom: 1rem;
background-color: #16a34a;
color: #ffffff;
font-size: 1rem;
border-radius: 15px;
font-weight: 500;
}
}   
}


////////////////////////////////////////////////////////////////////////

//responsivo
//esturura com limitador, minimo de px e max de px
//@media (min-width: ;) and (max-width: ;)


//smartfone max:500px

@media(max-width: 500px){
header {
    display: flex;
    flex-direction: column;
height: 30vh;
    
}

.caixaLogo {
    
    width: 60%;
}

nav {
   
    width: 100%;
}
 
a {
    font-size: 0.9rem;
}

.BotaoVerdeheader {
    font-size: 0.8rem;
}

////////////////////////


.primeirasection {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 150vh;
}

section {
    h2{
        font-size: 0.1rem;
        width: 100%;
    }

    p {
        width: 100%;
    }


}


  .boxBtnsPrimeiraSection {
      width: 100%;

      button {
        padding: 20px 30px;
      }
    }

    img {
      width: 50%;
    }
  }


//----------- Section Dados numéricos---------------

.dadosNumericos{
  //background-color: yellow;
  height: 25vh;

div{
  width: 30%;

h2{
  font-size: 1.8rem;
}

p{
  font-size: 1rem;
}

}


}



//section produtos disponiveis

.produtosDisponiveis {
    flex-direction: column;
  
    article {
    width: 70%;
text-align: center;

button {
    font-size: 0.9rem;
    width: 60%;
    font-weight: 400;
 }
 }

}


