* {margin: 0;
padding: 0;
box-sizing: border-box;
}

//justify-content mexe na largura. O align mexe na altura

header {

  background-color: #ffffff;
display: flex; //ativa as caixas flexiveis

justify-content: flex-start; //é o padrão. os itens são postos no começo do eixo principal.
justify-content: flex-end; //os itens são postos no final do eixo principal
justify-content: center; // os itens são postos no meio do eixo principal.
justify-content: space-around; // o primeiro espaço vazio e o ultimo são iguais
justify-content: space-evenly; // o mesmo espaçamento entre os itens
justify-content: space-between; //o primeiro item fica no começo do eixo e o ultimo fica no final
height: 10vh;
align-items: flex-start; //os itens são postos no começo do eixo Y (vertical)
align-items: flex-end; // os itens são postos no final no eixo Y (vertical)
align-items: center; // os itens são postos no meio do eixo Y (vertical)
}

div {
margin: 30px;
display: flex;
justify-content: space-between;
align-items: center;
width: 12%;
}

h1 {
  
}

// colocar borda pra ver como ta.
nav {
    
    display: flex;
    justify-content: space-evenly;
    width: 40%; // se eu quero espaçar eu preciso de um tamanho.
  
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #4B5563;
    
}


.BotaoVerdeheader {
    background-color: #21C05C;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 18px;
border-radius: 1.5px;
}



.primeirasection {
    background-color: #21C05C;
    height: 40vh;

section {
border: solid;
width: 60vw;
height: 40vh;
display: flex;
flex-direction: column;
justify-content: space-around;
}
}



.produtosDisponiveis {
    background-color: rgb(149, 216, 149);
display: flex;
justify-content: space-around;
align-items: center;
height: 70vh;


article {
border: solid rebeccapurple;
width: 20%;
height: 50vh;
display: flex;
flex-direction: row; //padrão. os itens são organizados em forma de linha da esquerda para a direita
//flex-direction: row-reverse; //os itens são organizados em forma de linha (fileira) da direita pra esquerda
flex-direction: column; //os itens são organizados em coluna de cima para baixo
justify-content: space-between;
align-items: center;

img{
width: 100%;
height: 30vh;
}

button {
    width: 50%;
    height: 3vh;
    cursor: pointer;
    margin-bottom: 1rem;
background-color: #16a34a;
color: #ffffff;
font-size: 1rem;
border-radius: 15px;
font-weight: 500;
}

}   

}