* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-evenly;
  justify-content: space-between;
  height: 10vh;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
}

.caixaLogo {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #4B5563;
}

.BotaoVerdeheader {
  background-color: #21C05C;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 18px;
  border-radius: 1.5px;
}

.primeirasection {
  background-color: #21C05C;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.primeirasection h2 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 55%;
}
.primeirasection p {
  font-size: 1.25rem;
  font-weight: 400;
}
.primeirasection section {
  width: 60vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.primeirasection button {
  cursor: pointer;
  padding: 20px 40px;
}
.primeirasection button img {
  width: 30%;
  height: 5vh;
}
.primeirasection button .botaoverde {
  background-color: #16A34A;
}

.dadosNumericos {
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 20vh;
}
.dadosNumericos div {
  width: 15%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dadosNumericos div h2 {
  color: #16A34A;
  font-size: 3rem;
  font-weight: 700;
}
.dadosNumericos div p {
  font-weight: 400;
  font-size: 1rem;
}

.comofunciona {
  height: 25vh;
  padding-left: 40px;
  padding-top: 40px;
}
.comofunciona h2 {
  color: #1F2937;
  font-weight: 800;
  font-size: 2.6rem;
  padding-bottom: 30px;
}
.comofunciona p {
  color: #1F2937;
  font-size: 1.2rem;
  margin-top: 35px;
}

.produtosDisponiveis {
  background-color: rgb(149, 216, 149);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150vh;
}
.produtosDisponiveis article {
  border: solid #16A34A;
  width: 10%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.produtosDisponiveis article img {
  width: 100%;
  height: 30vh;
}
.produtosDisponiveis article button {
  width: 50%;
  height: 3vh;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 15px;
  font-weight: 500;
}

@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    height: 30vh;
  }
  .caixaLogo {
    width: 60%;
  }
  nav {
    width: 100%;
  }
  a {
    font-size: 0.9rem;
  }
  .BotaoVerdeheader {
    font-size: 0.8rem;
  }
  .primeirasection {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 150vh;
  }
  section h2 {
    font-size: 0.1rem;
    width: 100%;
  }
  section p {
    width: 100%;
  }
  .boxBtnsPrimeiraSection {
    width: 100%;
  }
  .boxBtnsPrimeiraSection button {
    padding: 20px 30px;
  }
  img {
    width: 50%;
  }
}
.dadosNumericos {
  height: 25vh;
}
.dadosNumericos div {
  width: 30%;
}
.dadosNumericos div h2 {
  font-size: 1.8rem;
}
.dadosNumericos div p {
  font-size: 1rem;
}

.produtosDisponiveis {
  flex-direction: column;
}
.produtosDisponiveis article {
  width: 70%;
  text-align: center;
}
.produtosDisponiveis article button {
  font-size: 0.9rem;
  width: 60%;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */