@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
  border-bottom: 1px #b4aeae solid;
}

.caixaLogo {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #4b5563;
  font-family: "Poppins", sans-serif;
}

.BotaoVerdeheader {
  background-color: #16a34a;
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 18px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.BotaoVerdeheader:hover {
  background-color: #21c05c;
}

.primeirasection {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.primeirasection h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  width: 55%;
  color: #1f2937;
}
.primeirasection p {
  font-size: 1.25rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  color: #4b5563;
}
.primeirasection section {
  width: 60vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.primeirasection .botaoverde {
  background-color: #16a34a;
  color: #ffffff;
  border: none;
  width: 15%;
  height: 5vh;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.primeirasection .botaoverde:hover {
  background-color: #21c05c;
}
.primeirasection .botaobranco {
  border-color: #2563eb;
  color: #2563eb;
  width: 15%;
  height: 5vh;
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
  cursor: pointer;
}
.primeirasection .imglogo {
  margin: 1rem;
}

.dadosNumericos {
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 20vh;
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  padding-top: 10%;
  margin-bottom: 10%;
}
.dadosNumericos div {
  width: 15%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dadosNumericos div h2 {
  color: #16a34a;
  font-size: 4rem;
  font-weight: 700;
}
.dadosNumericos div p {
  font-weight: 400;
  font-size: 1rem;
}

.comofunciona {
  height: 25vh;
  padding-left: 6%;
  margin-top: 3%;
}
.comofunciona h2 {
  color: #1f2937;
  font-weight: 800;
  font-size: 2.6rem;
  margin-bottom: 3%;
  font-family: "Poppins", sans-serif;
}
.comofunciona p {
  color: #1f2937;
  font-size: 1.2rem;
  margin-top: 15px;
  font-family: "Inter", sans-serif;
}

.doadoresAdquirentes {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.doadoresAdquirentes h2 {
  width: 15vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
}
.doadoresAdquirentes .Doaverde {
  color: #16a34a;
  font-family: "Inter", sans-serif;
}
.doadoresAdquirentes .Adazul {
  color: #2563eb;
  font-family: "Inter", sans-serif;
}
.doadoresAdquirentes p {
  margin-top: 2%;
}
.doadoresAdquirentes ul {
  margin-top: 8%;
  font-weight: 700;
}

.produtosDisponiveis h2 {
  background-color: #f3f5f8;
  padding-top: 1.5%;
  height: 12vh;
  font-weight: 600;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.produtosDisponiveis h3 {
  height: 5vh;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
.produtosDisponiveis .articleflex {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}
.produtosDisponiveis .produtosDis {
  border: solid #16a34a;
  width: 16vw;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.produtosDisponiveis .produtosDis img {
  width: 100%;
}
.produtosDisponiveis .produtosDis h4 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #4b5563;
  padding: 1rem;
}
.produtosDisponiveis .produtosDis p {
  color: #4b5563;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}
.produtosDisponiveis .produtosDis button {
  cursor: pointer;
  background-color: #16a34a;
  color: #ffffff;
  border: none;
  font-family: "Inter", sans-serif;
  width: 7vw;
  padding: 0.8rem;
  border-radius: 3%;
  margin: 1rem;
}
.produtosDisponiveis .produtosDis button:hover {
  background-color: #21c05c;
}

.estrelas h2 {
  height: 20vh;
  display: flex;
  justify-content: center;
  padding-top: 6%;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}
.estrelas .pEstrelas {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1.8rem;
}
.estrelas .star {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}
.estrelas .star div {
  border: solid #16a34a 2px;
  height: 27vh;
  width: 18%;
  border-radius: 15px;
  font-weight: 400;
}
.estrelas .star div img {
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 5%;
}
.estrelas .star div p {
  margin: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6b7280;
}
.estrelas .star div h4 {
  margin: 1rem 1rem 0;
  font-family: "Inter", sans-serif;
}
.estrelas .star div .cargo {
  margin: 0 1rem 0;
}

.fazerAdiferença {
  background-color: #f3f5f8;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fazerAdiferença h2 {
  margin-top: 4%;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.fazerAdiferença h3 {
  margin-top: 1%;
  margin-bottom: 3%;
  font-weight: 400;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
}
.fazerAdiferença div {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}
.fazerAdiferença div .botaoverdeDiferença {
  background-color: #16a34a;
  color: #ffffff;
  border: none;
  width: 10vw;
  height: 5vh;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
.fazerAdiferença div .botaoverdeDiferença:hover {
  background-color: #21c05c;
}
.fazerAdiferença div .botaobrancoDiferença {
  border: solid #16a34a;
  color: #16a34a;
  width: 10vw;
  height: 5vh;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.redes {
  background-color: #1f2937;
  color: #ffffff;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
}
.redes .reciclaConecta h3 {
  margin-top: 15%;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.redes .reciclaConecta p {
  margin-top: 10%;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.redes .reciclaRedes h3 {
  font-family: "Inter", sans-serif;
  margin-top: 15%;
}
.redes .reciclaRedes p {
  margin-top: 10%;
  font-family: "Poppins", sans-serif;
}
.redes .reciclaRedes img {
  margin-top: 10%;
  margin-left: 10%;
}

footer {
  background-color: #1f2937;
  color: #9ca3af;
  text-align: center;
  height: 10vh;
  padding-top: 2%;
  border-top: 1px #4b5563 solid;
}

@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
  }
  .caixaLogo {
    width: 60%;
  }
  nav {
    width: 100%;
    height: 20vh;
  }
  a {
    font-size: 0.9rem;
  }
  .BotaoVerdeheader {
    font-size: 0.8rem;
  }
  .primeirasection {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
  }
  .primeirasection h2 {
    font-size: 2.2rem;
    border: solid;
    width: 85vw;
    height: 25vh;
  }
  .primeirasection p {
    border: solid;
  }
  .primeirasection .divprimeirasection {
    width: 120%;
    display: flex;
    justify-content: space-evenly;
  }
  .primeirasection .divprimeirasection .botaoverde {
    width: 40%;
    margin: 1rem;
  }
  .primeirasection .divprimeirasection .botaobranco {
    width: 40%;
    margin: 1rem;
  }
  .primeirasection .divprimeirasection .imglogo {
    margin: 2rem;
    border: solid;
  }
  .dadosNumericos {
    height: 25vh;
  }
  .dadosNumericos div {
    width: 30%;
  }
  .dadosNumericos div h2 {
    font-size: 1.8rem;
  }
  .dadosNumericos div p {
    font-size: 1rem;
  }
  .doadoresAdquirentes {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .doadoresAdquirentes .Doaverde {
    width: 80%;
  }
  .doadoresAdquirentes .Adazul {
    width: 80%;
  }
  .doadoresAdquirentes p {
    text-align: center;
    padding-top: 1rem;
  }
  .doadoresAdquirentes ul {
    margin: 1rem 4rem 0;
  }
  .produtosDisponiveis h2 {
    font-size: 2rem;
    text-align: center;
  }
  .produtosDisponiveis h3 {
    font-size: 1rem;
    text-align: center;
  }
  .produtosDisponiveis .articleflex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .produtosDisponiveis .articleflex .produtosDis {
    margin: 1rem;
    width: 80%;
  }
  .produtosDisponiveis .articleflex .produtosDis button {
    width: 50vw;
  }
  .estrelas {
    background-color: #2563eb;
    height: 200vh;
  }
  .estrelas .star div {
    background-color: chocolate;
  }
  .redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 55vh;
  }
  .redes p {
    font-size: 0.8rem;
    font-weight: 300;
  }
}/*# sourceMappingURL=style.css.map */