* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//////////////////////////////////////////////////////////////////////////////

header {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
  border-bottom: 1px #b4aeae solid;
}

.caixaLogo {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #4b5563;
  font-family: "Poppins", sans-serif;
}

.BotaoVerdeheader {
  background-color: #16a34a;
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 18px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  &:hover {
    background-color: #21c05c;
  }
}

/////////////////////////////////////////////////////////////

.primeirasection {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    width: 55%;
    color: #1f2937;
  }

  p {
    font-size: 1.25rem;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    color: #4b5563;
  }

  section {
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .botaoverde {
    background-color: #16a34a;
    color: #ffffff;
    border: none;
    width: 15%;
    height: 5vh;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    &:hover {
      background-color: #21c05c;
    }
  }

  .botaobranco {
    border-color: #2563eb;
    color: #2563eb;
    width: 15%;
    height: 5vh;
    font-family: "Poppins", sans-serif;
    margin-left: 1rem;
    cursor: pointer;
  }

  .imglogo {
    margin: 1rem;
  }
}

////////////////////////////////////////////////////////////

.dadosNumericos {
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 20vh;
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  padding-top: 10%;
  margin-bottom: 10%;

  div {
    width: 15%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      color: #16a34a;
      font-size: 4rem;
      font-weight: 700;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

//////////////////////////////////////////////////////////////////////

.comofunciona {
  height: 25vh;
  padding-left: 6%;
  margin-top: 3%;

  h2 {
    color: #1f2937;
    font-weight: 800;
    font-size: 2.6rem;
    margin-bottom: 3%;
    font-family: "Poppins", sans-serif;
  }

  p {
    color: #1f2937;
    font-size: 1.2rem;
    margin-top: 15px;
    font-family: "Inter", sans-serif;
  }
}

//////////////////////////////////////////////////////////////////

.doadoresAdquirentes {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;

  h2 {
    width: 15vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
  }

  .Doaverde {
    color: #16a34a;
    font-family: "Inter", sans-serif;
  }

  .Adazul {
    color: #2563eb;
    font-family: "Inter", sans-serif;
  }

  p {
    margin-top: 2%;
  }

  ul {
    margin-top: 8%;
    font-weight: 700;
  }
}

/////////////////////////////////////////////////////////////////

.produtosDisponiveis {
  h2 {
    background-color: #f3f5f8;
    padding-top: 1.5%;
    height: 12vh;
    font-weight: 600;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
  }

  h3 {
    height: 5vh;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
  }

  //

  .articleflex {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
  }

  .produtosDis {
    border: solid #16a34a;
    width: 16vw;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
    }

    h4 {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      color: #4b5563;
      padding: 1rem;
    }

    p {
      color: #4b5563;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      text-align: center;
      padding: 1rem;
    }

    button {
      cursor: pointer;
      background-color: #16a34a;
      color: #ffffff;
      border: none;
      font-family: "Inter", sans-serif;
      width: 7vw;
      padding: 0.8rem;
      border-radius: 3%;
      margin: 1rem;
      &:hover {
        background-color: #21c05c;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

.estrelas {
  h2 {
    height: 20vh;
    display: flex;
    justify-content: center;
    padding-top: 6%;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
  }

  .pEstrelas {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1.8rem;
  }

  .star {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;

    div {
      border: solid #16a34a 2px;
      height: 27vh;
      width: 18%;
      border-radius: 15px;
      font-weight: 400;

      img {
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 5%;
      }

      p {
        margin: 1rem;
        font-family: "Poppins", sans-serif;
        color: #6b7280;
      }

      h4 {
        margin: 1rem 1rem 0;
        font-family: "Inter", sans-serif;
      }

      .cargo {
        margin: 0 1rem 0;
      }
    }
  }
}

////////////////////////////////////////////////////////////

.fazerAdiferença {
  background-color: #f3f5f8;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    margin-top: 4%;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
  }

  h3 {
    margin-top: 1%;
    margin-bottom: 3%;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
  }

  div {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;

    .botaoverdeDiferença {
      background-color: #16a34a;
      color: #ffffff;
      border: none;
      width: 10vw;
      height: 5vh;
      border-radius: 6px;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background-color: #21c05c;
      }
    }

    .botaobrancoDiferença {
      border: solid #16a34a;
      color: #16a34a;
      width: 10vw;
      height: 5vh;
      border-radius: 6px;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
///////////////////////////////////////////////////////////////////////

.redes {
  background-color: #1f2937;
  color: #ffffff;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;

  .reciclaConecta {
    h3 {
      margin-top: 15%;

      font-weight: 700;
      font-family: "Inter", sans-serif;
    }

    p {
      margin-top: 10%;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
    }
  }

  .reciclaRedes {
    h3 {
      font-family: "Inter", sans-serif;
      margin-top: 15%;
    }

    p {
      margin-top: 10%;
      font-family: "Poppins", sans-serif;
    }

    img {
      margin-top: 10%;
      margin-left: 10%;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////

footer {
  background-color: #1f2937;
  color: #9ca3af;
  text-align: center;
  height: 10vh;
  padding-top: 2%;
  border-top: 1px #4b5563 solid;
}

//////////////////////////////////////////////////////////////////////////////

//---------------------     RESPONSIVO     ---------------------//
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
  }

  .caixaLogo {
    width: 60%;
  }

  nav {
    width: 100%;
    height: 20vh;
  }

  a {
    font-size: 0.9rem;
  }

  .BotaoVerdeheader {
    font-size: 0.8rem;
  }

  //---------------------------------------------------//

  .primeirasection {
    display: flex;
    flex-direction: column;
    text-align: center;
   
   
    section {
       height: 70vh;
      width: 100%;
    padding: 1rem;

         h2 {
        font-size: 2rem;
        text-align: left;
        width: 100vw;
      }

      p{
        text-align: left;
      }

    }

    .divprimeirasection {
justify-content: center;

      .botaoverde {
        width: 40vw;
        height: 8vh;
        border-radius: 6px;
        margin: 1rem;
      }

      .botaobranco {
        width: 40vw;
        height: 8vh;
        border-radius: 6px;
        margin: 1rem;
      }
    }
 
  }
  //----------------------------------------------------//

  .dadosNumericos {
    height: 25vh;

    div {
      width: 30%;

      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  //---------------------------------------------------------//

  .doadoresAdquirentes {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Doaverde {
      width: 80%;
    }

    .Adazul {
      width: 80%;
    }

    p {
      text-align: center;
      padding-top: 1rem;
    }

    ul {
      margin: 1rem 4rem 0;
    }
  }

  //-----------------------------------------------------------//

  .produtosDisponiveis {
    h2 {
      font-size: 2rem;
      text-align: center;
    }

    h3 {
      font-size: 1rem;
      text-align: center;
    }

    .articleflex {
      display: flex;
      flex-direction: column;
      align-items: center;

      .produtosDis {
        margin: 1rem;
        width: 80%;

        button {
          width: 50vw;
        }
      }
    }
  }

  //-----------------------------------------------------------//

  .estrelas {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .star {
      flex-direction: column;
      align-items: center;
      margin: 2rem;
      height: 130vh;

      div {
        width: 80vw;
        height: 40vh;
      }
    }
  }

  //---------------------------------------------------//

  .fazerAdiferença {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50vh;

    div {
      width: 80%;
      margin: 2rem;

      .botaoverdeDiferença {
        width: 23vh;
        height: 10vh;
      }

      .botaobrancoDiferença {
        width: 23vh;
        height: 10vh;
      }
    }
  }

  //----------------------------------------------------//

  .redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 58vh;

    p {
      font-size: 0.8rem;
      font-weight: 300;
    }
  }

  ///
}
